.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
testefuncao.py
testemodulo.py
testetestetestando.py
uteis/numeros/__init__.py
uteis/datas/__init__.py
uteis/__pycache__/__init__.cpython-314.pyc
uteis/__init__.py
uteis/numeros/__pycache__/__init__.cpython-314.pyc
uteis/string/__init__.py
